body {
  font-family: sans-serif;
}
table {
  border-collapse: collapse;
  border: 5px solid black;
}

tr,
td {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  font-size: 50px;
  text-align: center;
}
